node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Build outputs
build
*.tsbuildinfo